---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import ArticleLayout from "./ArticleLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, tags, pubDate, updatedDate, heroImage } =
	Astro.props;
---

<ArticleLayout title={title} description={description} heroImage={heroImage}>
	<div slot="subtitle" class="my-4">
		<div class="date">
			<FormattedDate date={pubDate} />
			{
				updatedDate && (
					<div class="last-updated-on">
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
		</div>
		<div class="tags">
			<ul>
				{
					tags
						? tags.sort().map((tag) => (
								<li class="inline">
									{" "}
									<a class="anchor mx-1" href={`/blog/tags/${tag}/`}>#{tag}</a>
								</li>
							))
						: null
				}
			</ul>
		</div>
	</div>
	<slot />
</BaseLayout>
