---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import ArticleLayout from "./ArticleLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, tags, pubDate, updatedDate, heroImage } =
	Astro.props;
---

<ArticleLayout title={title} description={description} heroImage={heroImage}>
	<div slot="subtitle">
		<div class="date">
			<FormattedDate date={pubDate} />
			{
				updatedDate && (
					<div class="last-updated-on">
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
		</div>
		<div class="tags">
			<ul>
				{
					tags
						? tags.sort().map((tag) => (
								<li>
									{" "}
									<a href={`/blog/tags/${tag}/`}>#{tag}</a>
								</li>
							))
						: null
				}
			</ul>
		</div>
	</div>
	<slot />
</BaseLayout>

<style>
	.date {
		color: rgb(var(--gray));
	}
	.tags {
		margin-bottom: 0.5em;
		color: rgb(var(--gray));
	}
	.tags ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.tags ul li {
		display: inline;
		padding: 0.2em 0.2em;
	}
	.tags ul li a {
		color: rgb(var(--gray));
		text-decoration: none;
	}
	.tags ul li a:hover {
		color: rgb(var(--gray));
		text-decoration: underline;
	}
	.last-updated-on {
		font-style: italic;
	}
</style>
